<!DOCTYPE html>
<html>

<head>
  <title>Boston Hassle Shows SMS Bot</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">
//   function getCookie(name) {
//   if (!document.cookie) {
//     return null;
//   }
//
//   var xsrfCookies = document.cookie
//     .split(';')
//     .map(function(c) {
//       return c.trim();
//     })
//     .filter(function(c) {
//       return c.startsWith(name);
//     });
//
//   if (xsrfCookies.length === 0) {
//     return null;
//   }
//   return decodeURIComponent(xsrfCookies[0].split('=')[1]);
// }
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function onSubmit(form) {
  var query = form.children[0].value;
  postSmsQuery(query);
  return false;
}

function renderResults(response, msgContainerEl, imgContainerEl) {
  response.json().then(function(data) {
    msgContainerEl.className = '';
    msgContainerEl.textContent = data.message;

    var imageTags = data.images.forEach(function(url){
      var tag =  document.createElement('img');

      tag.src = url.url;
      imgContainerEl.appendChild(tag)
    });
  })
}

function postSmsQuery(query) {
  var csrfToken = getCookie('csrftoken');
  var msgContainerEl = document.getElementById('message-results');
  var imgContainerEl = document.getElementById('img-results');

  msgContainerEl.className = 'is-loading';
  msgContainerEl.textContent = '';
  imgContainerEl.textContent = '';

  fetch('/api/', {
    method: "POST",
    credentials: "same-origin",
    headers: {
      "X-CSRFToken": getCookie("csrftoken"),
      "Accept": "application/json",
      'Content-Type': 'application/json'
    },
    body:JSON.stringify({query: query})
  }).then(function(response) {
    renderResults(response, msgContainerEl, imgContainerEl);
  });
}
</script>
  <style type="text/css">

    form {
      padding: 20px 0;
    }

    .jumbotron {
      background: #222;
      color: #ccc;
      padding-bottom: 80px
    }

    .is-loading:after {
      content: '... don\'t hassle me, i\'m loading ...';
      color: #EE5555;
    }
    .results-container {
      padding: 20px 0;
    }
  </style>
</head>

<body>

  {% block content %}{% endblock %}

</body>

</html>
