{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h2>
      <span>347-4-HASSLE</span>
      <p>(347-442-7753)</p>
    </h2>
    <form class="form-inline" onsubmit="return onSubmit(this)">
      <input class="form-control form-control-lg" type="text" placeholder="techno shows tonight?">
      <button  class="btn btn-primary" type="submit">ASK</button>
    </form>
    <div class='results-container'>
      <div id='img-results'></div>
      <p id='message-results'></p>
    </div>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h3>Ask about upcoming shows</h3>
      <ul>
        <li>"what's going on tonight"</li>
        <li>"music events on friday"</li>
      </ul>

      <h3>Specify event categories and genres </h3>
      <ul>
        <li>"indie films"</li>
        <li>"experimental techno"</li>
      </ul>
    </div>

  </div> <!-- row -->

</div>
{% endblock %}
